.slidercontainer {
  position: relative;
  width: 96%;
  height: auto;
  background-color: var(--color-bg-accent);
  margin: 100px 2% 20px 2%;
  overflow: hidden;
  border-radius: 20px;
}

.sliderinfo {
  position: absolute;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  text-align: center;
}

.sliderimage {
  width: 96%;
  height: 400px;
  margin: 0% 2%;
  border-radius: var(--border-radius);
}

@media (max-width: 768px) {
  .slidercontainer {
    margin: 150px 2% 20px 2%;
  }

  .sliderinfo {
    width: 100%;
  }

  .sliderimage {
    width: 100%;
    height: auto;
  }
}