.dashnave {
    position: fixed;
    top: 1%;
    bottom: 1%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 98.5vh;
    overflow: hidden;
    padding-bottom: 20px;
    background-color: var(--color-bg);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 0px 20px 20px 0px;
    text-transform: capitalize;
    transition: left 0.3s ease;
    z-index: 999;
}

.dashnave h1 {
    width: 96%;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    color: var(--color-primary);
}

.dashnave img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px 0px;
}

.dashopenNavbar {
    display: none;
}

.dashnavelinks {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: 4%;
}

.dashnavelinks a {
    width: 96%;
    height: 33px;
    display: block;
    margin-bottom: 10px;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
    line-height: 33px;
    border-radius: var(--border-radius, 6px);
    transition: all 0.3s ease;
    background-color: var(--color-primary);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}
.dashnavelinks span{
    margin-left: 10px;
}

.dashnavelinks a.active {
    background-color: #fff;
    color: var(--color-primary, #1976d2);
}

.navbutoons {
    width: 92%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.navbutoons button,
.navbutoons a {
    display: flex;
    width: 92%;
    height: 33px;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    border: none;
    color: white;
}

.navbutoons a {
    text-decoration: none;
}

@media (max-width: 768px) {
    .dashnav {
        width: 70%;
        left: -100%;
        right: -100%;
    }

    .dashnav.show-nav {
        left: 0;
        right: 0;
    }

    .dashopenNavbar {
        display: flex;
        font-size: 40px;
        color: var(--color-primary);
        cursor: pointer;
        position: fixed;
        top: -1px;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    .dashnavelinks a{
        width: 90%;
        margin: 10px auto;

    }
}