.bestofferslider {
  height: fit-content;
  position: relative;
  width: 96%;
  margin: 0 auto;
  height: 650px;
}

.grid-bestoffer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin: 2px auto; 
  justify-content: center;
  align-items: center;
  width: 96%;
}
@media(max-width: 1024px) {

  .grid-bestoffer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin: 0 auto;
    width: 98%;
  }
}
@media (max-width: 768px) {
  .bestofferslider{
    width: 100%;
  }
  .grid-bestoffer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    margin: 0 auto;
    width: 100%;
    gap: 0;
  }
}
