* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  text-transform: capitalize;
  scrollbar-width: thin;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata.ttf") format("truetype");
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.inconsolata {
  font-family: "Inconsolata", monospace;

}

html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] body {
  direction: ltr;
  text-align: left;
}

body[data-text-dir="rtl"] {
  text-align: right;
}

body[data-text-dir="ltr"] {
  text-align: left;
}

.Dash-outlet {
  width: 80%;
  height: 100vh;
  margin: 100px 17% auto;
  text-align: center;
}
@media(max-width: 768px){
  .Dash-outlet{
    width: 98%;
    margin: 80px 0px auto;
    padding: 0px 1%;
  }
}
.button-web {
  display: block;
  background-color: var(--color-button-bg);
  color: var(--color-button-text);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  margin: 20px auto;
  text-decoration: none;

}

.button-web a {
  text-decoration: none;
}

.button-web:hover {
  background-color: var(--color-button-hover);
}

h1 {
  display: block;
  text-align: center;
  padding: 10px 0px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
  width: 98%;
  gap: 20px;
  margin: 2px auto;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 5px;
    margin: 2px auto;
  }
}

.slidernext,
.sliderprve {
  display: inline-block;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  border: none;
  text-align: center;
  background-color: transparent;
  color: var(--color-link);
  font-size: 50px;
  vertical-align: middle;
  line-height: 20px;
}

.slidernext {
  right: -0%;
}

.sliderprve {
  left: -0%;
}

.slidernext:hover,
.sliderprve:hover {
  color: var(--color-primary-disabled);
}

.search {
  width: 100%;
}

.search input {

  width: 90%;
  border: 2px solid var(--color-primary);
  border-radius: 15px;
  text-align: center;
  outline: none;
  padding: 3px 0px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  background: white;
  /* border: 1px solid #ccc; */
  border-radius: var(--border-radius);
  margin-top: 3px;
  z-index: 10;
  scrollbar-width: thin;
  text-align: center;
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 8px 10px;
    cursor: pointer;


    &:hover {
      background-color: #f0f0f0;
    }
  }
}

.search-results a {
  p {
    padding: 8px 10px;
    color: #888;
  }
}

@media (max-width: 768px) {

  .slidernext,
  .sliderprve {
    display: none;
  }
  
}

.sliderdots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  color: var(--color-error);
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--color-error);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: var(--color-card-hover);
  transform: scale(1.3);
}
